:root{
    /*Colors being used*/
    --primary-color: #1b263b;
    --secondary-color: #415a77;
    --neutral-color: #e0e1dd;
    --accent-color:#778DA9;
    --hover-color:#1B263B;

    /*Fonts being used*/
    --font-primary:'Roboto', sans-serif;
    --font-secondary:'Open Sans', sans-serif;  
}

body{
    background-color: var(--neutral-color);
    margin: 0 auto;
}

header{
    background-color: var(--neutral-color);
    padding: 0.3rem 0;
    border-bottom: 0.1rem solid var(--accent-color);
}

.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header__logo{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primary-color);
    align-items: center;
    /* padding-left: 1rem; */
}

.header__logo h1{
    font-family: var(--font-primary);
    font-size: 1.5rem;
    padding-left: 0.25rem;
}

.header__searchbox{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 65%;
    /* margin-left: 10rem; */
}

.header__searchbox input{
    width: 100%;
    text-indent: 2rem;
    padding: 1rem;
    margin: 0 auto;
    border: 0.1rem solid var(--accent-color);
    border-radius: 0.5rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
}

.header__searchbox input:hover{
    border-color: var(--hover-color);
}
.header__searchbox i{
    position: absolute;
    left: 0.8rem;
    color: var(--secondary-color);
}

.header__cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
}

.header__cart p{
    padding-left: 0.25rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
}